.wrapper{
    width: 100%;
    margin: 0 auto;
    /* background-color: #000000; */
}

.loading{
    margin: 0 auto;
    
}

.loading h1{
    color: #808080;
    text-align: center;
}

.content {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.char-wrapper{
    background: #99CCFF;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    width: 710px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 40px;
    padding: 6px 2px 20px 14px;

}

.character{
    background-color: rgba(105,105,105, 0.8);
    border: 2px solid #666666;
    border-radius: 8px;
    width: 120px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 10px 8px 0 8px;
}

.character:hover{
    background: #FF9999;
    border: 2px solid #FF9999;
    border-radius: 8x;
    width: 120px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 10px 8px 0 8px;
}

.char-img{
    width:80px;
    height: 90px;
    margin: 0 auto;
    padding: 13px 5px 0px 5px;
}
.char-name{
    margin: 0 auto;
}



